<div class="w-full h-screen flex flex-col bg-orange-300 items-center p-36">
  <h1 class="font-bold text-6xl text-center">Uber Clone</h1>
  <p class="text-lg mt-4">This is the landing page for Uber App</p>

  <% if current_customer || current_driver %>
    <% if current_customer %>
      <% if current_customer.active_ride %>
        <p class="text-2xl p-4">Your ride to <%=current_customer.active_ride.destination %> is scheduled </p>
      <% else %>
        <%= link_to 'Request new ride', new_ride_path, class:"p-2 bg-blue-500 rounded-md mt-4" %>
      <% end %>

    <% else %>
      <%= link_to 'View Available Rides', "#", class:"p-2 bg-blue-500 rounded-md mt-4" %>
    <% end %>
    
  <% else %>
    <div class="flex gap-4 mt-8 ">
      <%= link_to 'Customer Sign Up', new_customer_registration_path, class:"bg-green-500 text-2xl rounded-lg p-2" %>
      <%= link_to 'Driver Sign Up', new_driver_registration_path, class:"bg-blue-500 text-2xl rounded-lg p-2" %>
    </div>
    
  <% end %>
  
</div>
